body {

    background-color: $couleur_sombre;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;

}

header {

    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 300px;


}